<% @posts.each do |post| %>
  <div class="container">
    <%= link_to post do %>
      <% if post.image %>
        <%= image_tag post.image.to_s, class: 'img-responsive' %>
      <% end %>
    <% end %>
    <h1><%= link_to post.title, post %></h1>
    <h2><%= post.short_text %></h2>
  </div>
<% end %>